.item {
	border: 1px solid var(--grey-1);
	margin-bottom: var(--space-x1);
	max-width: 900px;
}

.meta {
	padding: var(--space-half);
}

.logo {
	margin-left: auto;
	padding: var(--space-half);
}

.bottom {
	display: flex;
    justify-content: space-between;
	padding: var(--space-half);
}

@media screen and (min-width: 400px) {
	.item {
		display: flex;
		flex-direction: column;
	}

	.top {
		display: flex;
	}

	.bottom {
		display: flex;
		justify-content: space-between;
	}

	.meta,
	.logo {
		padding: var(--space-x1);
	}
}