:root {
	--grey-1: #cccccc;
	--grey-2: #676464;
	--white-1: #ffffff;
	--expired: #D25596;
	--space-half: 0.5rem;
	--space-x1: 1rem;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

.container {
	padding: var(--space-x1);
}